.pendingTaskContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;

}

.topic{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 00px;

}

.topic{

}

.TaskItem{

}