.Frame135{
    position: relative;
    min-height: 100vh;
    width: 282.75px;
    background: rgba(181, 175, 175, 0.70);
    /* background-color: aquamarine; */
}

.TopFrame135{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.TopFrame135Logo{
    height: 75px;
    width: 75px;
    margin: 0.2vh auto 0 auto;
}

.BottomFrame135{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: auto; */
}

/* .BottomFrame135::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  
   */
  
  
  