.popUpContainer {
    margin: auto;
    background-color: var(--cage-background);
    width: 100%;
    min-height: auto;
    max-height: 700px;
    overflow-y: auto;
    padding: 10px;
    opacity: 10;
    display: block;
  }
  
  .savePost {
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    gap: 10px;
    background-color: var(--cage-background);
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
  }
  
  .savePost:hover{
    background-color: var(--transparent-white);
  }