.profileCardContainer{
    --coverImageWidth: 350px;
    --pageConatinerLeftMargin: 10px;

    width: 1241px;
    height: 576px;
    margin-left: auto;
    margin-right: auto;
}

.coverImageContainer{
    width: 100%;
    height: var(--coverImageWidth);
    top: 0px;
}

.coverImage{
    width: 100%;
    height: 100%;
}

.profilePictureContainer{
    width: 200px;
    height: 200px;
    display: block;
    top: 0px;
}

.profilePicture{
    width: 100%;
    height: 100%;
    border: 5px solid var(--background-blue-light);
    border-radius: 50%;
    margin-top: -150px;
    margin-left: 110px;
}

.detailsContainer{
    width: 100%;
    height: calc(100% - var(--coverImageWidth));
    bottom: 0px;
    background-color: var(--background-blue-light);
    padding-top: 70px;
}

.detailContent{
    display: inline-flex;
    padding: 0px 200px;
    flex-direction: column;
    align-items: flex-start;
}

.pagedetailsContainer{
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    justify-items: baseline;
}

ul{
    list-style-type: none;
    margin: -30px;
    padding: 0px;
}

li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

li:nth-child(n+2) { margin-left: -10px; }

.pageDP{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btnContainer{
    margin-left: 87%;
    margin-top: -30px;
}