:root {
  --text-color-2: #a6abbd;
}
.status-dots {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--cage-background);
}

.filled-dot {
  background-color: var(--text-color-2);
}
