.toggle-btn-div {
  width: fit-content;
  height: auto;
}

.toggle-btn {
  width: 50px;
  height: auto;
  font-size: 25px;
  color: var(--text-1);
  background-color: var(--cage-background);
  border-style: none;
  border-radius: 20%;
  padding: 5px 5px 5px 5px;
}

.toggle-btn:hover {
  width: 50px;
  height: auto;
  font-size: 25px;
  color: var(--text-1);
  background-color: var(--background-1);
  border-style: none;
  border-radius: 20%;
  padding: 5px 5px 5px 5px;
}
