@import '../index.css';
.wallcontainer {
    position: relative;
    margin: 10px auto;
    width: 85%;
    max-width: 1130px;

  display: flex;
  flex-direction: row;
  background: var(--background-2, #000517);
}

.leftColumn{
    position: relative;
    top: 0px ;
    width: 412.75px;
    height: auto;
    background: var(--background-2, #000517);
    margin: 10px auto 10px auto;
    border-radius: 10px;
}

.rightColumn{
    width: 50%;
    background: var(--background-2, #000517);
    margin: 10px auto 10px 0px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; 

}

.leftColumnSubContainer{
    background-color: #1B1A38;
    padding: 5px;
    margin-bottom: 10px;
    flex-shrink: 0;
    border-radius: 12px;

}
.leftColumnSubContainerHeader{
    display: flex;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5px 5px;
}
.leftColumnSubContainerHeaderText{
    display: flex;
    padding:20px 5px 0px 20px;
    width: 150px;
    height: 39px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.leftColumnSubContainerHeaderSubText{
    position: relative;
    top: 18px;
    display: flex;
    justify-content: right;
    margin-right: 15px;
    align-items: right;
    flex-shrink: 0;
    font-size: 14px;
    color: #fff;

}

.leftColumnSubContainerBody{
    margin: auto;
    display: grid;
    padding-bottom: 3px;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 10px;

}

.leftColumnSubContainerBody2{
    margin: auto;
    display: grid;
    padding-bottom: 3px;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    gap: 20px 10px;
}