@import "../index.css";

:root {
  --background-1: #000517;
  --cage-background: #1b1a38;
  --text-1: #ffffff;
  --text-2: #a6abbd;
  --button-background: #2060ad;
  --stroke: #2060ad;
}

.side-bar {
  height: 100%;
  width: 300px;
  background-color: var(--background-blue);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  color: var(--text-2);
  text-decoration: none;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  gap: 25px;
  display: flex;
}

link:hover {
  background-color: var(--transparent-white);
}

.sidebar-icon {
  color: var(--text-2);
  font-size: 20px;
}

.user-cage {
  margin: 10px auto;
  color: var(--text-2);
  text-decoration: none;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 25px;
}

.user-cage p {
  color: var(--text-2);
}

.user-cage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
}

.model-a-soul {
  margin: auto;
  background-color: var(--button-background);
  color: var(--text-1);
  height: fit-content;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-style: solid;
}

.model-a-soul:hover {
  margin: auto;
  background-color: var(--button-background); /* need to change color */
  color: var(--text-1);
  height: fit-content;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-style: none;
}

.modelasoul {
  color: white;
  text-decoration: none;
}
