.title-division {
  width: 100%;
  display: flex;
  justify-content: left;
}

.page-title {
  font-size: 25px;
  color: var(--text-1);
  /* font-weight: 700; */
}

.vehicle-about-edit-container {
  width: 100%;
  height: auto;
  background-color: var(--cage-background);
  border-style: none;
  border-radius: 10px;
}

.title-division {
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}

.vehicle-about-edit-form {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.vehicle-about-edit-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vehicle-about-edit-label {
  margin-top: 20px;
  color: var(--text-2);
}

.vehicle-about-edit-input {
  padding: 5px;
  color: var(--text-2);
  background-color: var(--background-1);
  border-style: none;
  border-radius: 5px;
}

.edit-vehicle-about {
  margin-top: 30px;
  background-color: var(--stroke);
  border-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--text-1);
}
