/* @import '../index.css';

.product-side-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}  

.product-side-details-name {
    /*color: #FFF;*/
    /*font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

.product-side-details-editicon 
{
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
    margin-top: 5px;
} 


 */
