.vehicleDetailsView{
    width: 383px;
    height: fit-content;
    background-color: var(--background-blue-light);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.imgContainer img{
    width: 341px;
    height: 239px;
    border-radius: 15px;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detailsContainer .owner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.detailsContainer {
    margin: 10px; /* Adjust the margin as needed */
    padding: 10px; /* Adjust the padding as needed */
}

.detailsContainer .txt-12, 
.detailsContainer .txt-08{
    margin-top: 0px;
    margin-bottom: 0px;
}

.owner {
    margin-top: 0px; /* Adjust the margin as needed */
    margin-bottom: 0px; /* Adjust the margin as needed */
}

.btnContainer{
    display: grid;
    justify-content: center;
}

.editConatiner{
    display: flex;
    flex-direction: row;
    gap: 10px;
}